body{
    background-color: black
}
.navbar{
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;


}
h1:hover{
    background-color:rgb(121, 121, 121); ;
    transition: 1s;
    color: white;
    cursor: pointer ;
}
h1{
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color:rgb(255, 230, 0);
    color:blue;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    
}

.navbar-line1{
    width: 100%;
    display: flex;
    padding-top: 1px;
    margin-left: 0px;
   
 
}
.navbar-line2{
    display: flex;
    margin-left: 135px;
   
 
}
.box{
    border:2px solid  rgb(255, 255, 255);
    width:60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    display: flex;
    background-color: rgb(255, 230, 0);
}
.box:hover{
    background-color: rgb(121, 121, 121);
    padding: 7px;
    border-radius: 30%;
    transition-duration: 1s;
    color: white;
    
}
a{
    font-size: 40px;
    margin-left: 15px;
    margin-top: 5px;
    text-decoration: none;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    color: white;
    transition: 1s;
}
.main{
   /* border: 2px solid white; */
   width: 100%;
   height: 600px;
   display: flex;
   margin-top: 5px;
}
.left-side{
    /* border: 2px solid red; */
    border-left: 5px solid rgb(255, 230, 0);
    width: 50%;
   height: 600px;

}
.right-side{
    /* border: 2px solid rgb(0, 255, 106); */
   height: 600px;
   width:50%;
   border-left: 5px solid rgb(255, 230, 0);
   border-right: 5px solid rgb(255, 230, 0);
}
.right-side img{
    width:350px;
    height: 280px;
    margin-left: 104px;
    margin-top: 296px;
    border-radius: 50%;
    
}
h2{
    color: white;
    text-align: center;
    margin-top: 63%;
    font-size: 4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
}
h2>span{
    font-size: 120px;
    color: rgb(255, 230, 0);
}
h2>span:hover{
    color:rgb(175, 105, 0);
    transition: 1s;
}